.container { 
    border: 2px solid black;
    height: 100%;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.box {
border: 2px solid lightgrey;
height: 25px;
margin-top: 50px;
width: 50%;
padding-bottom: 50px;
}

.box-wrapper { 
    border: 2px solid blue;
    height: 100%;
}

.larger-box {
    border: 2px solid red;
    width: 100%;
    height: 100px;
}

.largeboi {
    border: 5px solid green;
    width: 50%;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
